// Bootstrap

@import '~bootstrap/scss/bootstrap';

.bulk-select {
    max-width: 150px;
}
.btn-sm .fas, .btn-sm .far {
    font-size: .6rem;
    line-height: 1;
}
.btn-sm {
    padding: 2px 8px !important
}